[Desktop Entry]
Type=Service
Icon=kget
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=inode/directory;
Actions=Wget-here;
Encoding=UTF-8

[Desktop Action Wget-here]
Name=Download here from clipboard link(s)
Icon=kget
Exec=get-here %u
